.form{
  min-width       : 390px;
  text-align      : center;
}
input[type=color]{
  height          : 29px !important;
}
input[type=color],
input[type=date]{
  width           : 10%;
  padding         : 1px 10px;
  display         : inline;
}
input[type=checkbox]{
  width             : 16px;
  -ms-transform     : scale(1.5); /* IE */
  -moz-transform    : scale(1.2); /* FF */
  -webkit-transform : scale(1.5); /* Safari and Chrome */
  -o-transform      : scale(1.5); /* Opera */
  padding           : 10px;
  vertical-align    : middle;
}
input[type=checkbox]:hover,
input[type=checkbox]:focus{
  cursor            : pointer;
}
.boxName{
  text-align: left;
  padding: 2px 10px;
}
.available{
  line-height     : 23px;
  vertical-align  : middle;
  height          : 100%;
}
div.fileUploadDiv {
  position        : relative;
}
input.btn{
  height          : 29px !important;
}
.fileUploadDiv input#uploadInput {
  position        : absolute;
  top             : 0;
  left            : 0;
  margin          : 0;
  padding         : 0;
  cursor          : pointer;
  opacity         : 0;
  filter          : alpha(opacity=0);
  width           : 100px;
  height          : 19px;
  display         : none;
}
#fileNameBox{
  width           : 150px;
}
.clearBtn{
  margin-left     : 2%;
  margin-top      : 21px;
}
input.clearBtn,
input.browseBtn{
  width           : 47%;
}
a.btn{
  float:right;
}
.btn{
  padding: 2px 10px;
}
.shortInputBox{
  width: 150px !important;
}
.addItemTable,
.footerTable{
  margin:0 auto;
  border-spacing: 15px 10px;
}
.textBoxes{
  margin: 0 auto 10px auto;
  width: 393px;
}
.textBoxes input{
  width:335px;
}
.textBoxes .boxName{
  padding-left: 30px;
}
.footerTable .btn{
  width: 170px;
}