.footer .btn{
  min-width: 100px;
}
h1{
  margin-bottom: 50px;
}
.innerMatchTable{
  margin:0 auto;
}
.imgMatch{
  width:4.5em;
  margin-right: 20px;
}
.matchPropertiesDiv{
  float:left;
  text-align: left;
}
.matchOne{
  padding-right:25px;
}