.selectLabel{
  width: 100px;
  text-align:left;
  padding: 0 10px;
}
select{
  max-width: 200px;
  min-width:150px;
}
.selectDiv{
  display:inline-block;
  margin-bottom: 20px
}
.preference{
  text-align: center;
}
.footer .btn{
  width: 125px;
}